.teamSection {
  background: #151515;
}

.teamTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.teamTitle .sectionTitle {
  text-align: left;
  float: left;
}

.appoinmentBtn {
  background: transparent;
  border: 2px solid #f36100;
  float: right;
  margin-top: 10px;
}

.tsSlider {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tsItem {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  flex: 1;
  min-width: 300px;
}

.tsText {
  padding: 40px 0 60px;
  text-align: center;
  background: #0a0a0a;
  border-top: 4px solid #464646;
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  bottom: -250px;
  width: 100%;
  transition: all 0.3s;
}

.tsItem:hover .tsText {
  bottom: -35px;
}

.tsText h4 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 14px;
  transform: skewY(5deg);
}

.tsText span {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #aaaaaa;
  text-transform: uppercase;
  transform: skewY(5deg);
}

